#location {
  width: 100%;
  height: 10%;
}

#info {
  padding-left: 10%;
  padding-right: 10%;
}

#NamePrice {
  display: flex;
  justify-content: space-between;
  font-family: Source Sans Pro;
  font-size: xx-large;
  font-weight: bold;
  color: #154360;
}

#info {
  font-family: Quicksand;
}

#boxes {
  display: flex;
}

.box {
  width: 33%;
  min-height: 50px;
  border-radius: 5px;
  margin: 5px;
  background-color: #f0f0f0;
  box-shadow: 0px 3px 5px #888888;
  padding: 0px 10px 20px 10px;
  position: relative;
  overflow: hidden;
}

.boxLabel {
  font-family: Source Sans Pro;
  font-weight: bold;
  color: #154360;
  font-size: large;
  position: absolute;
  bottom: 0;
  padding-bottom: 2px;
}

#rating{
  display: flex;
  align-items: flex-end;
}

#numerator{
  font-size: 40px;
  font-family: Source Sans Pro;
  color: #60ce80;
}

#denominator{
  font-family: Source Sans Pro;
  color: #154360;
  padding-bottom: 5px;
}

#reviewNumbers{
  padding-bottom: 5px;
  padding-left: 5px;
}

#review{
  display: flex;
  align-items: center;
}

#username{
  color: #888888;
  font-weight: bold;
}

#comment{
  font-size: small;
}

#userIcon{
  color: #154360;
  width: 40px;
  height: 40px;
  
}

#link{
  color: black;
}

#distance {
  font-weight: bold;
  display: flexbox;
}

#highlight{
  color: #60ce80;
}

#address{
  display: flex;
  align-items: center;
}

#check{
  width: 25px;
  height: 25px;
}

#pin{
  width: 50px;
  height: 50px;
}

.greenline{
  width: 3px;
  height: 20px;
  margin: 5px;
  background-color: #60ce80;
}

#largerGreenLine {
  width: 4px;
  height: 25px;
}

.title{
  display: flex;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

#descriptiontext{
  margin-left: 15px;
  padding-bottom: 5px;
}

.shadedTable{
  width: 100%;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f0f0f0;
  padding: 15px 30px;
}

.unshadedTable{
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 5px;
}

td {
  vertical-align: top;

}

.firstCol{
  width: 20%;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
}

#reviewTitle {
  font-size: 25px;
}

#ratingLarge{
  display: flex;
  align-items: flex-end;
}

#numeratorLarge{
  font-size: 50px;
  font-family: Quicksand;
  color: #60ce80;
  font-weight: bold;
}

#denominatorLarge{
  font-family: Quicksand;
  color: #154360;
  padding-bottom: 5px;
  font-size: 25px;
}

#reviewNumbersLarge{
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 15px;
}

#reviewTable{
  width: 100%;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f0f0f0;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  position: relative;
}

#button{
  width: 130px;
  height: 30px;
  position: absolute;
  right: 25px;
  border-radius: 5px;
  background-color: #154360;
  color: white;
  font-family: Source Sans Pro;
  font-weight: bold;
  cursor: pointer;
}

.fullReview{
  padding-bottom: 10px;
}

.reviewUsername{
  font-weight: bold;
}