#Container {
    --color-blue: #154360;
    --color-green: #60ce80;
    --color-grey: #f0f0f0;
    --color-dark-grey: #f5f5f7;

    --font-source-sans-pro: 'Source Sans Pro', 'sans-serif';
    --font-quicksand: 'Quicksand', 'sans-serif';
}

#Img {
    width: 100%;
}

#Message {
    background-color: transparent;
    font-family: var(--font-source-sans-pro);
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-grey);
}

#SearchBox {
    display: flex;
    align-items: center;
    background-color: var(--color-grey);
    border-radius: 10px;
    box-shadow: 0px 4px 4px #6e6e73;
    width: 200%;
    height: 90%;
    padding-left: 1%;
    gap: -10%;
}

#Icons {
    color: var(--color-green);
    font-size: 2vw;
}

#Input {
    color: rgba(0, 0, 0,);
    font-size: 1vw;
    font-family: var(--font-quicksand);
    padding-right: 1%;
    padding-left: 3%;
}
#Filter-Btn, #Search-Btn {
    text-transform: none;
    background-color: var(--color-grey);
    white-space: nowrap;
    font-family: var(--font-source-sans-pro);
    color: var(--color-green);
    height: 100%;
    width: 18%;
    padding: 1% 0.1%;
    font-size: 1.25vw;
    font-weight: bold;
}
#Search-Btn {
    background-color: var(--color-green);
    font-weight: bold;
    color: white;
}
#Grid-Container {
    top: 40%;
    left: 20%;
    position: absolute;
}
#Divider {
    border-color: var(--color-green);
    border-right-width: 2px;
}
@media (max-width: 1450px) { #Grid-Container { top: 38%; left: 19%; } 
    #SearchBox {width: 195%;} }
@media (max-width: 1400px) { #Grid-Container { top: 36%; left: 18%; } 
    #SearchBox {width: 190%;} }
@media (max-width: 1350px) { #Grid-Container { top: 34%; left: 17%; }
    #SearchBox {width: 185%;} }
@media (max-width: 1300px) { #Grid-Container { top: 32%; left: 16%; }
    #SearchBox {width: 180%;} }
@media (max-width: 1250px) { #Grid-Container { top: 30%; left: 15%; } 
    #SearchBox {width: 175%;} }
@media (max-width: 1200px) { #Grid-Container { top: 28%; left: 14%; } 
    #SearchBox {width: 170%;} }
@media (max-width: 1150px) { #Grid-Container { top: 26%; left: 13%; } 
    #SearchBox {width: 165%;} }
@media (max-width: 1100px) { #Grid-Container { top: 24%; left: 12%; }
    #SearchBox {width: 160%;} }
@media (max-width: 1050px) { #Grid-Container { top: 22%; left: 11%; } 
    #SearchBox {width: 155%;} }
@media (max-width: 1000px) { #Grid-Container { top: 20%; left: 10%; }
    #SearchBox {width: 150%;} }