@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
    font-size: 13px;
    margin: 0;
    padding: 0;
}
body {
    max-width: 100vw;
}
.tnc-wrapper {
    min-height: 100vh;
    max-width: 100%;
    background-color: #154360;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.tnc-wrapper .sidebar {
    grid-column: 1 / 3;
    position: relative;
}

.sidebar .sborder {
    border-right: .1em solid #c6c6c645;
    position: absolute;
    margin: 1.5em 0 3em 0;
    top: 0;
    bottom: 0;
    right: -1em;
}

.tnc-wrapper .main-container {
    grid-column: 3 / 7;
    display: grid;
    grid-template: 1fr / 1fr;
    padding: 1em 2.5em 2.5em 2.5em;
}

.main-container .bubble {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    background-color: #FFFFFF;
    width: -webkit-fill-available;
    height: fit-content;
    border-radius: 1em;
    transition-duration: 500ms;
    position: relative;
    padding: 5%;
}
.text-container {
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}
.text-container h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #154360;
    font-size: 2.2em;
    margin-bottom: 1em;
}

.text-container p{
    color: #171717;
    margin: 1em 0;
}

.text-container dt {
    color: #154360;
    font-weight: 500;
    font-size: 1.5em;
    margin: .3em 0;
}

.text-container dd {
    margin: .2em 0 .2em 1em;
    font-size: 1.1em;
}

.sidebar .btn-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 2.5em;
}

.btn-container .btn-item {
    z-index: 1;
    position: relative;
    background-color: #cfcfcf;
    border-radius: 1em;
    margin: 0.25em .25em .25em 0;
    width: 90%;
    height: 3.5em;
    transition-duration: 300ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #154360;
    font-size: .9em;
}

emp {
    color: #34b458;
    font-size: 1.1em;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
}
num {
    color: #154360;
    font-size: .8em;
    font-weight: 500;
}

@media only screen and (min-width: 869px) {
    * {
        font-size: 16px;
    }
    .btn-container .btn-item {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1300px) {
    .tnc-wrapper {
        margin: 1em 10%;
        border-radius: 2em;
    }
    .tnc-wrapper .sidebar {
        grid-column: 1 / 3;
    }
    .btn-container .btn-item {
        width: 70%;
    }
}